<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LZMA-SDK" version="9.20" targetFramework="net461" />
  <package id="md-stdl" version="0.1.50-beta" targetFramework="net47" />
  <package id="SharpDX" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.RawInput" version="4.0.1" targetFramework="net461" />
  <package id="SimMetrics.Net" version="1.0.4" targetFramework="net461" />
  <package id="System.Interactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.0.0-preview00001" targetFramework="net461" />
</packages>